{
    "extension": [
        ".ts"
    ],
    "exclude": [
        "**/*.d.ts",
        "public/**/*",
        "test/**/*",
        "coverage/**/*",
        "webpack.config.js"
    ],
    "reporter": [
        "html",
        "text"
    ],
    "all": true
}
