//- Everything is loaded from here.
include ./components/head/head
doctype html
html
    head
        +head({ title: "Hello, world!" })
    body
        h1 ts-express-empty
        p You've set up the app! Way to go!
        a(
            href="https://github.com/NicholasThrom/ts-express-empty#ts-express-empty"
            target="_blank"
        )
            | GitHub
